<body class="team<%= @find_yesterday_mr_average.team_id %>">
  <div class="container text-center">
    <p id="mr-average">Mr. Average was<br><a tabindex="0" class="has-popover team<%= @find_yesterday_mr_average.team_id %>" role="button" data-toggle="popover" data-placement="bottom" title="2015 Statistics" data-content="<%= render 'yesterday_stats' %>"><%= @find_yesterday_mr_average.first_name %> <%= @find_yesterday_mr_average.last_name %></a></p>
    <p class="other-day text-right"><%= link_to "Today >", root_url %>&nbsp;</p>
    <p id="links">Created by <a class="team<%= @find_yesterday_mr_average.team_id %>" href="http://twitter.com/seanoldham">Sean Oldham</a></p>
  </div>
</body>
